@import "./base.css";
@import "./container.css";

.header {
  padding: 32px 0;
  position: sticky;
  top: 0;
  background: #27ae60;
  padding: 25px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  gap: 32px;
}

.navigation__link {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: color 0.4s ease-out;
}
.navigation__link::before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.navigation__link:hover::before {
  transform: scale(1);
}
.navigation__link:hover {
  color: lightgreen;
}

.hero {
  padding: 72px 0;
}

.hero__title {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

.hero__subtitle {
  margin-top: 17px;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}

.hero__description {
  max-width: 560px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

.hero-actions {
  margin-top: 62px;
  display: flex;
  gap: 16px;
}

.hero-actions__link {
  padding: 12px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: #27ae60;
  border-radius: 8px;
  transition: background-color 0.4s ease-out;
}

.hero-actions__link-secondary {
  background-color: transparent;
  outline: 1px solid white;
}

.hero-actions__link:hover {
  background-color: darkgreen;
}

.hero__ava {
  border-radius: 50%;
  border: 5px solid #27ae60;
  padding: 15px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_image-wrapper::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #34c759;
  border-radius: 100%;
  border: 2px solid white;
  right: 295px;
  bottom: 135px;
}
.hero_image-wrapper::before {
  content: "#open_to_work 👨‍💻";
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 160px;
  height: 56px;
  background-color: white;
  bottom: 170px;
}
.about {
  color: white;
  padding: 80px 0;
}

.about__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}

.about__subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 50px;
  color: #fff;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.about__left {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex: 0 0 560px;
  border-radius: 16px;
}

.about__img {
  width: 100%;
  max-width: 560px;
  border-radius: 16px;
}

.about__right {
  width: 560px;
}

.about__right p {
  margin-bottom: 18px;
  text-align: justify;
  color: #fff;
  line-height: 1.4;
}

.about__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 27px;
  border: 1px solid #aaa;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.4s ease-out;
}
.about__btn:hover {
  background-color: darkgreen;
}
.skills {
  margin-top: 64px;
  display: flex;
  justify-content: space-evenly;

  gap: 60px;
}

.skills__item {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.skills_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #222;
  margin: 0 auto;
  border-radius: 50%;
}
.skills__item h3 {
  margin: 10px 0;
}
.skills__item p {
  margin: 0;
}
.portfolio {
  padding: 80px 0;
  color: white;
}

.portfolio__title {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 48px;
  color: #fff;
}

.portfolio__subtitle {
  max-width: 500px;
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.portfolio__list {
  display: flex;
  gap: 100px;
  list-style: none;
  padding: 0;
}

.portfolio__item {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  max-width: 320px;
}
.portfolio__img-box {
  position: relative;
}
.portfolio__img {
  width: 100%;
  display: block;
}
.portfolio__content {
  padding: 20px;
}

.portfolio__card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
  color: #132238;
}

.portfolio__text {
  color: #556070;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
}

.portfolio__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #27ae60;
  color: white;
  padding: 12px 27px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.4s ease-out;
}

.portfolio__btn:hover {
  background-color: darkgreen;
}
.contacts {
  padding: 80px 0;
  color: white;
}
.contacts__items {
  margin: 145px;
}
.contacts__title {
  margin: 145px;
  font-size: 48px;
  margin-bottom: 24px;
}

.contacts__subtitle {
  margin: 73px;
  max-width: 400px;
  margin-top: 24px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.contacts__list {
  list-style: none;
  padding: 0;
}

.contacts__item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  margin-left: 145px;
  font-weight: 400;
  font-size: 20px;
}

.contacts__item img {
  width: 24px;
  height: 24px;
}
.footer {
  padding: 40px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.footer__social img {
  width: 40px;
  height: 40px;
  background: #28a745;
  padding: 10px;
  border-radius: 50%;
}

.footer__copy {
  color: #e5e5ea;
  font-size: 14px;
  font-weight: 500;
}
