@import "./variables";
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: $background-color;
}
